.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 80px;
  padding: 20px;
}
.main_container {
  color: white;
  width: 400px;
  font-size: large;
}
.vectary {
  width: 360px;
  height: 300px;
}

.color_text {
  color: #61ecbc;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: 20px 0;
}
@media only screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 0;
  }
  .main_container {
    width: 100%;
    display: block;
    text-align: center;
  }
  .buttons {
    display: block;
    padding: auto;
  }
  .vectary {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
  }
}
