.tab {
  display: flex !important;
  align-items: center !important;
  flex: 1;

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__number {
    background: linear-gradient(
      271deg,
      rgba(97, 236, 188, 0.5) 4.79%,
      rgba(0, 210, 143, 0.44) 4.8%,
      rgba(97, 236, 188, 0) 109.26%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 120px;
    margin-right: 20px;
  }

  &__name {
    color: white;
    font-size: 44px;
    display: block;
    flex-direction: column;
  }

  &__paragraph {
    color: white !important;
    display: block;
    flex-direction: column;
    width: 85%;
  }
}
