.about {
  display: flex;
  margin: 80px 40px;
}
.about_container {
  display: block;
  padding: 80px 0;
  width: 1000px;
}

.robot {
  width: 350px;
  height: 60%;
  margin-top: 90px;
}

.gradient {
  background-color: linear-gradient(
    270.6deg,
    rgba(97, 236, 188, 0.5) 4.79%,
    rgba(0, 210, 143, 0.445) 4.8%,
    rgba(97, 236, 188, 0) 109.26% !important
  );
}
