.card {
  border-radius: 33px;
  background: rgba(217, 217, 217, 0.1);
  backdrop-filter: blur(30.899999618530273px);
  color: white !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px 60px;
  margin: 0 60px;
}
.card__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}
.card__text {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: none;
}
.card__text a {
  color: white;
  text-decoration: none;
}
.team__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px;
}
